<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd ">

	<bean id="rectangle" class="com.joseparradev.model2.Rectangle">
		<property name="length" value="6"></property>
		<property name="breadth" value="10"></property>
	</bean>

	<bean id="rectangle1" class="com.joseparradev.model2.Rectangle">
		<property name="length" value="2"></property>
		<property name="breadth" value="1"></property>
	</bean>

	<bean id="rectangleCalculator"
		class="com.joseparradev.model2.RectangleCalculator">
		<property name="perimeter"
			value="#{2*(rectangle.length+rectangle.breadth)}"></property>
		<property name="area"
			value="#{rectangle.length*rectangle.breadth}"></property>
		<property name="isBigRectangle"
			value="#{rectangle.length > 5 and rectangle.breadth > 5}"></property>
		<property name="message"
			value="#{rectangle.length > 5 and rectangle.breadth > 5?bigMessage:smallMessage}"></property>

	</bean>

	<bean id="rectangleCalculator1"
		class="com.joseparradev.model2.RectangleCalculator">
		<property name="perimeter"
			value="#{2*(rectangle1.length+rectangle1.breadth)}"></property>
		<property name="area"
			value="#{rectangle1.length*rectangle1.breadth}"></property>
		<property name="isBigRectangle"
			value="#{rectangle1.length > 5 and rectangle1.breadth > 5}"></property>
		<property name="message"
			value="#{rectangle1.length > 5 and rectangle1.breadth > 5?bigMessage:smallMessage}"></property>
	</bean>

	<bean id="bigMessage" class="java.lang.String">
		<constructor-arg>
			<value>It is a Big Rectangle</value>
		</constructor-arg>

	</bean>
	<bean id="smallMessage" class="java.lang.String">
		<constructor-arg>
			<value>It is a Small Rectangle</value>
		</constructor-arg>

	</bean>


</beans>